@charset "utf-8";
/* CSS Document */

.icomy,.icopersonal,.icoorder,.icointegral{ background:url(../images/memberico.png) no-repeat;}
.bntadd,.lefttop,.charge,.guarantee,.security,.service,.bntquxiao,.bntpay{ background:url(../images/member.png) no-repeat;}

#login{ width:1100px; margin:0 auto;}
#login .left{ width:620px;}
#login .right{ width:400px; margin-right:30px;}
#login .logintitle{ line-height:46px;}
#login .logintable{ padding:20px 20px 10px 20px; line-height:50px;}

#registration{width:1100px; margin:0 auto; margin-top:13px;}
#registration .left{ width:230px; background:#f8f8f8; border-right:1px solid #ccc; position:relative; height:600PX; padding-right:20px;}
#registration .lefttop{ width:274px; height:76px; background-position:0 -40px; position:absolute; top:30px;}
#registration .lefttop dl{ font-size:22px; color:#fff; font-weight:bold; line-height:40px; padding-left:65px; padding-top:5px;}
#registration .lefttop dd{ font-size:14px; color:#fff; padding-left:30px;}
#registration .charge{ background-position:-560px 0; padding-left:36px; margin-top:15px; line-height:20px;}
#registration .guarantee{ background-position:-560px -65px; padding-left:36px; margin-top:15px; line-height:20px;}
#registration .security{ background-position:-560px -133px; padding-left:36px; margin-top:15px; line-height:20px;}
#registration .service{ background-position:-560px -195px; padding-left:36px; margin-top:15px; line-height:20px;}
#registration .leftbottom dl{ color:#40a200}
#registration .leftbottom dd{ color:#777777; font-size:12px;}
#registration .right{ width:750px; font-size:14px; line-height:60px; padding-top:40px;}
#registration .oncipher{ padding:3px 25px; background:#ff8200; margin:0 5px; color:#fff; font-size:12px; line-height:24px;}
#registration .outcipher{ padding:3px 25px; background:#eaeaea; margin:0 5px; color:#fff;font-size:12px; line-height:24px;}
#registration



#member{background:url(../images/bjmiddle.png) repeat-x;}
#member .member{ width:1190px; margin:0 auto; padding-top:16px;} 
#member .memberleft{ width:190px; border:1px solid #d9e5f1; background:#fcfcfc;}
#member .memberlefttitle{ height:45px; line-height:45px; background:#63aae5; padding-left:20px; color:#fff; font-size:16px; font-weight:bold;} 
#member .icomy{ background-position:0px 0px; padding-left:24px;}
#member .memberleft dl{ padding:10px 20px; line-height:30px; border-top:1px solid #d9e5f1;}
#member .memberleft dt{font-size:16px; font-weight:bold; font-weight:bold; color:#3895e2;}
#member .memberleft dd{ padding-left:28px;}
#member .memberleft a{ font-size:14px;}
#member .icopersonal{ background-position:0px -30px; padding-left:24px;}
#member .icoorder{ background-position:0px -60px; padding-left:24px;}
#member .icointegral{ background-position:0px -90px; padding-left:24px;}

#member .memberright{ width:830px; margin-left:20px;}
#member .crumbs{ line-height:30px; height:30px;}
#member .membermain{ background:#fff; padding:5px 20px 15px 20px;}
#member .maintop{ border-bottom:1px solid #d6d6d6; padding:0 5px; line-height:40px;}
#member .membermain td{ line-height:30px; padding-left:5px; font-size:14px}
#member .bntadd{ width:110px; height:30px; line-height:20px; border:0;  padding-left:21px; color:#fff}
#member .bnt{ padding:20px  0 20px 193px;} 

#member .ordersea{ border:1px solid #e1e2e6; background:#fbfbfb;}
#member .ordersea td{ line-height:40px; font-size:12px;}
#member .orderlist{}
#member .orderlist table{ border:1px solid #dddddd;  border-collapse:collapse;}
#member .orderlist th{ background:#f7f7f7; line-height:24px;  border:1px solid #dddddd; height:30px;}
#member .orderlist td{ border:1px solid #dddddd; text-align:center; font-size:12px;}
#member .orderseas{ background:#fbfbfb;}
#member .orderseas table{ border-collapse:collapse; }
#member .orderseas th{line-height:30px;  border:1px solid #ddd;border-collapse:collapse;}
#member .orderseas td{ line-height:30px;  border:1px solid #ddd;border-collapse:collapse; }
#member .orderxq{ }
#member .orderxq table{ border-collapse:collapse; }
#member .orderxq th{line-height:30px;  border:1px solid #ddd;border-collapse:collapse;background:#fbfbfb;}
#member .orderxq td{ line-height:30px;  border:1px solid #ddd;border-collapse:collapse; text-align:center; font-size:12px; }
#member .bntquxiao{ width:65px; height:25px; line-height:25px; font-size:12px; border:none; background-position:-138px 0; color:#fff}
#member .bntpay{ width:124px; height:44px; line-height:44px; font-size:12px; border:none; background-position:-308px 0; color:#fff; padding-left:0px; font-size:16px;}



